.paginator {
  display: flex;
  justify-content: center;
}
.paginator__container {
  display: flex;
} 
.paginator__container ul {
  display: flex;
  position: relative;
  background: #af8a25;
  padding: 0 0.5rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
}
.paginator__container ul li {
    padding: 0;
  list-style: none;
  line-height: 5rem;
}
.paginator__container ul li.pageNumber {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.paginator__container ul li.active {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(104, 96, 96);

}
.paginator__container ul li.pageNumber:hover {
    color: rgb(104, 96, 96);
}
